/*========== 场景卡片 ==========*/

/*外部数据*/
.external.iframe{ padding: 0;}
.external.img{ padding-bottom: 0;}
.external-img{ margin-top: 8px;}
.external-iframe{ width: 100%;}

/* multi-condition */
.multi-condition-list .change-rate{ display: block; margin-top: 3px; font-size: 12px;}
.multi-condition-list .conditions{ padding: 10px 0; font-size: 15px;}
.multi-condition-list .conditions .list-item{ display: inline-block; margin: 10px 30px 10px 0; line-height: 1;}
.multi-condition-list .conditions .list-item:last-of-type{ margin-right: 0;}