/* debug */
.debug-title{ margin-bottom: 8px;}
.debug-info{ padding: 4px; font-size: 12px; font-family: Courier New, Courier, monospace; line-height: 1.2; color: #666; word-break: break-all;}
.debug-info li{ margin: 8px 0;}
.debug-info code{ color: #333;}